<h1 style="text-align:center">{{title}}</h1>
<div class="row">
    <div class="column">
        <h3 style="text-align:center;">Equipment Categories</h3>
        <p style="padding: 0px 40px"><b>Equipments and Materials</b> are essentials in the <b>New World</b>.</p>

        <table class= "table table-bordered table-dark" style = "max-width: 700px; margin-left: 40px; text-align: center">
            <thead>
                <tr>
                    <th><a class="nav-link" onclick="openTab(event, 'Weapons')">Weapons</a></th>
                    <th><a class="nav-link" onclick="openTab(event, 'Armors')">Armors</a></th>
                    <th><a class="nav-link" onclick="openTab(event, 'Accessories')">Accessories</a></th>
                    <th><a class="nav-link" onclick="openTab(event, 'Materials')">Materials</a></th>
                </tr>
            </thead>
        </table>

        <div id="Weapons" class="tabcontent">
                    <h3>Weapons</h3>
                    <p>All sorts of weapons starting from Short Sword, Long Sword, Lance, Bows, Daggers, etc.</p>
                    <table class= "table table-bordered table-dark" style = "max-width: 700px; margin-left: 40px">
                        <tr>
                            <td>
                                <img src="img/greatsword.png" style="padding: 0px 3px;"><h4 style="float: right;">Great Sword</h4>
                            </td>
                            <td>
                                <img src="img/swsh.png" style="padding: 0px 3px"><h4 style="float: right;">Sword & Shield</h4>
                            </td>
                            <td>
                                <img src="img/dualblades.png" style="padding: 0px 3px"><h4 style="float: right;">Dual Blades</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/longsword.png" style="padding: 0px 3px"><h4 style="float: right;">Long Sword</h4>
                            </td>
                            <td>
                                <img src="img/hammer.png" style="padding: 0px 3px"><h4 style="float: right;">Hammer</h4>
                            </td>
                            <td>
                                <img src="img/bow.png" style="padding: 0px 3px"><h4 style="float: right;">Hunting Bow</h4>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <table class= "table table-bordered table-dark" style = "max-width: 700px; margin-left: 40px; text-align: center">
                      <tr>
                        <th style="width: 200px;">Image</th>
                        <th style="width: 200x;">Item Type</th>
                        <th style="width: 100px;">Name</th>
                        <th style="width: 80px;">Qty.</th>
                        <th style="width: 170px;">Price</th>
                        <th style="width: 170px;">Action</th>
                      </tr>
                      <tr>
                        <td><img src="img/Corona.png"></td>
                        <td><b>Sword and Shield</b><img src="img/swsh.png" style="padding: 0px 3px"></td>
                        <td><b>Corona</b></td>
                        <td>1</td>
                        <td>₩ 32,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                      <tr>
                        <td><img src="img/Flash in the Night.png"></td>
                        <td><b>Sword and Shield</b><img src="img/swsh.png" style="padding: 0px 3px"></td>
                        <td><b>Flash in the Night</b></td>
                        <td>1</td>
                        <td>₩ 49,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                      <tr>
                        <td><img src="img/Xeno Mabura.png"></td>
                        <td><b>Sword and Shield</b><img src="img/swsh.png" style="padding: 0px 3px"></td>
                        <td><b>Xeno Mabura</b></td>
                        <td>1</td>
                        <td>₩ 50,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                      <tr>
                        <td><img src="img/Xeno Cypher.png"></td>
                        <td><b>Long Sword</b><img src="img/longsword.png" style="padding: 0px 3px"></td>
                        <td><b>Xeno Cypher</b></td>
                        <td>1</td>
                        <td>₩ 54,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                      <tr>
                        <td><img src="img/Xeno Raqs.png"></td>
                        <td><b>Dual Blades</b><img src="img/dualblades.png" style="padding: 0px 3px"></td>
                        <td><b>Xeno Raqs</b></td>
                        <td>1</td>
                        <td>₩ 47,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                    </table>
                  </div>

                  <div id="Armors" class="tabcontent">
                    <h3>Armors</h3>
                    <p>Defensive equipments like chainmails, non-plated or hard-plated armors, etc.</p>
                    <table class= "table table-bordered table-dark" style = "max-width: 700px; margin-left: 40px; text-align: center">
                      <tr>
                        <th style="width: 250px;">Image</th>
                        <th style="width: 350px;">Item Type</th>
                        <th style="width: 350px;">Name</th>
                        <th style="width: 80px;">Qty.</th>
                        <th style="width: 170px;">Price</th>
                        <th style="width: 170px;">Action</th>
                      </tr>
                      <tr>
                        <td><img src="img/Beo Alpha Plus Armor.png"></td>
                        <td><b>Full Plate Armor</b></td>
                        <td><b>Beo Alpha Plus Armor</b></td>
                        <td>1</td>
                        <td>₩ 90,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                      <tr>
                        <td><img src="img/Beo Beta Plus Armor.png"></td>
                        <td><b>Full Plate Armor</b></td>
                        <td><b>Beo Beta Plus Armor</b></td>
                        <td>1</td>
                        <td>₩ 89,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                      <tr>
                        <td><img src="img/Blossom Alpha Armor.png"></td>
                        <td><b>Non-plated Armor</b></td>
                        <td><b>Blossom Alpha Armor</b></td>
                        <td>1</td>
                        <td>₩ 75,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                      <tr>
                        <td><img src="img/Damascus Alpha Armor.png"></td>
                        <td><b>Full Plate Armor</b></td>
                        <td><b>Damascus Alpha Armor</b></td>
                        <td>1</td>
                        <td>₩ 95,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                      <tr>
                        <td><img src="img/Damascus Beta Armor.png"></td>
                        <td><b>Full Plate Armor</b></td>
                        <td><b>Damascus Beta Armor</b></td>
                        <td>1</td>
                        <td>₩ 92,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                      <tr>
                        <td><img src="img/Dodogama Alpha Armor.png"></td>
                        <td><b>Full Plate Armor</b></td>
                        <td><b>Dodogama Alpha Armor</b></td>
                        <td>1</td>
                        <td>₩ 99,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                      <tr>
                        <td><img src="img/Dodogama Beta Armor.png"></td>
                        <td><b>Full Plate Armor</b></td>
                        <td><b>Dodogama Beta Armor</b></td>
                        <td>1</td>
                        <td>₩ 99,000,000.00</td>
                        <td><button type="button">Purchase</button></td>
                      </tr>
                    </table>
                  </div>

                  <div id="Accessories" class="tabcontent">
                    <h3>Accessories</h3>
                    <p>Different types of accessories that could provide additional status or skills.</p>
                  <table class= "table table-bordered table-dark" style = "max-width: 700px; margin-left: 40px; text-align: center">
                    <tr>
                      <th style="width: 250px;">Image</th>
                      <th style="width: 350px;">Item Type</th>
                      <th style="width: 350px;">Name</th>
                      <th style="width: 80px;">Qty.</th>
                      <th style="width: 170px;">Price</th>
                      <th style="width: 170px;">Action</th>
                    </tr>
                    <tr>
                      <td><img src="img/Artillery Charm.png"></td>
                      <td><b>Charm</b></td>
                      <td><b>Artillery Charm</b></td>
                      <td>1</td>
                      <td>₩ 30,000,000.00</td>
                      <td><button type="button">Purchase</button></td>
                    </tr>
                    <tr>
                      <td><img src="img/Attack Charm.png"></td>
                      <td><b>Charm</b></td>
                      <td><b>Attack Charm</b></td>
                      <td>1</td>
                      <td>₩ 30,000,000.00</td>
                      <td><button type="button">Purchase</button></td>
                    </tr>
                    <tr>
                      <td><img src="img/Awakening Charm.png"></td>
                      <td><b>Charm</b></td>
                      <td><b>Awakening Charm</b></td>
                      <td>1</td>
                      <td>₩ 30,000,000.00</td>
                      <td><button type="button">Purchase</button></td>
                    </tr>
                    <tr>
                      <td><img src="img/Blaze Charm.png"></td>
                      <td><b>Charm</b></td>
                      <td><b>Blaze Charm</b></td>
                      <td>1</td>
                      <td>₩ 30,000,000.00</td>
                      <td><button type="button">Purchase</button></td>
                    </tr>
                    <tr>
                      <td><img src="img/Blessing Charm.png"></td>
                      <td><b>Charm</b></td>
                      <td><b>Blessing Charm</b></td>
                      <td>1</td>
                      <td>₩ 30,000,000.00</td>
                      <td><button type="button">Purchase</button></td>
                    </tr>
                  </table>
                  </div>

                  <div id="Materials" class="tabcontent">
                      <h3>Materials</h3>
                      <p>All sorts of materials for those willing craftsmen to make their own equipments.</p>
                      <table class= "table table-bordered table-dark" style = "max-width: 700px; margin-left: 40px; text-align: center">
                        <tr>
                          <th style="width: 350px;">Item Type</th>
                          <th style="width: 350px;">Name</th>
                          <th style="width: 80px;">Qty.</th>
                          <th style="width: 170px;">Price</th>
                          <th style="width: 170px;">Action</th>
                        </tr>
                        <tr>
                          <td><b>Small Bone </b><img src="img/Small Bone.png"></td>
                          <td><b>Quality Bone</b></td>
                          <td>6</td>
                          <td>₩ 200,000.00</td>
                          <td><button type="button">Purchase</button></td>
                        </tr>
                        <tr>
                          <td><b>Large Monster Tail </b><img src="img/Rajang Tail.png"></td>
                          <td><b>Rajang Tail</b></td>
                          <td>2</td>
                          <td>₩ 750,000.00</td>
                          <td><button type="button">Purchase</button></td>
                        </tr>
                        <tr>
                          <td><b>Large Monster Material </b><img src="img/Bazelgeuse Fuse.png"></td>
                          <td><b>Bazelgeuse Fuse</b></td>
                          <td>1</td>
                          <td>₩ 900,000.00</td>
                          <td><button type="button">Purchase</button></td>
                        </tr>
                        <tr>
                          <td><b>Ore </b><img src="img/Aquacore Ore.png"></td>
                          <td><b>Aquacore Ore</b></td>
                          <td>3</td>
                          <td>₩ 700,000.00</td>
                          <td><button type="button">Purchase</button></td>
                        </tr>
                        <tr>
                          <td><b>Large Monster Material </b><img src="img/Immortal Dragonscale.png"></td>
                          <td><b>Immortal Dragonscale</b></td>
                          <td>3</td>
                          <td>₩ 950,000.00</td>
                          <td><button type="button">Purchase</button></td>
                        </tr>
                      </table>
                  </div>
    </div>
    <div class="column">
        <div id="controls">
        	<div>
        		<h2 id="header">Shopping Cart</h2>
        			<p>Total: <span id="total">0.00</span></p>
        		</div>
        	</div>

        	<div id="container">
        		<div id="list">
			</div>
		</div>
    </div>
</div>