<div class="cart" id="cart">
  <h1 class="text-center">{{title}}</h1>
  <br>
<!-- Cart -->
<section id="cart" class="d-flex align-items-centers">
  <div class="container">
    <div class="row">
      <table class="table-dark">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- Subtotal -->
<section id="cart" class="subtotal" style="padding-right: 22%;">
  <div class="container">
    <div class="row">
      <table class="table-dark">
        <thead>
          <th>Subtotal</th>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</section>