<div class="login-container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-0">
        <img src="/images/Vanguard.png" class="img-fluid" alt="Vanguard logo">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-0">
        <div class="card-body login-card">
          <form class="form-div" action="/login" method="POST">
            <div class="row">
              <div class="col">
                <h4 class="MateSC">{{title}}</h4>
              </div>
            </div>
            {{> messages}}
            <div class="row">
              <div class="col">
                <input class="form-control" placeholder="EMAIL ADDRESS" type="email" id="email" name="email">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input class="form-control" placeholder="PASSWORD" type="password" id="password" name="password">
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button class="btn btn-secondary form-button">Login</button>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <a href="/register">CREATE ACCOUNT</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>