        <div class="container">
            <!-- Login Form -->
            <div class="h3" style="text-align: center; padding-top: 20%">
                Vanguard
            </div>
            <div class="loginForm">
                <form method="post" action="/">
                    <label for="username">Username</label>
                    <span style="float: right"><input type="checkbox">Remember Me</input></span><br>
                    <input class="form-control" type="text" name="username" id="username">
                    <label for="password">Password</label><br>
                    <input class="form-control" type="password" name="password" id="password"><br>

                    <a href="/forgot_password.html" target="_blank">Forgot password</a>
                    <button type="button" class="btn btn-light register" style="float:right;" data-toggle="modal" data-target="#registerForm">Register</button>
                    <input type="submit" class="btn btn-light" id="login" style="float:right; margin-right:2.5%;" value="Login">
                </form>
            </div>

            <!-- Registration Form -->
            <div class="modal fade" id="registerForm">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Sign Up</h4>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" type="email" name="remail" id="remail" placeholder="Enter email address">
                            <input class="form-control" type="text" name="rusername" id="rusername" placeholder="Enter username">
                            <input class="form-control" type="password" name="rpwd" id="rpwd" placeholder="Enter password">
                            <input class="form-control" type="password" name="rcpwd" id="rcpwd" placeholder="Re-enter password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" id="register">Register</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>