<div class="cart" id="cart">
  <h1 class="text-center">{{title}}</h1>
  <br>
<section id="profile-details" class="d-flex align-items-center">
    <div class="container">
        <div clas="row">
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <th>Full Name: </th>
                    <td><span class="d-xl-inline">{{username}}</span></td>
                </tr>
                <tr>
                    <th>Email: </th>
                    <td><span class="d-xl-inline">{{email}}</span></td>
                </tr>
            </table>
        </div>
    </div>
</section>