<div class="Prof" id="profi">
<h1 class="text-center">{{title}}</h1>
        <br>
        <div class="leftCol">
        <h3 class="text-center">User Details</h3>
        <br>    
        <div class="prof-card">
            <section id="profile-details" class="d-flex align-items-center">
                <div class="container">
                    <div clas="row" style="padding-top: 10px; padding-bottom: 10px;">
                        <table style="margin-left: auto; margin-right: auto;">
                            <tr>
                                <th>Name: </th>
                                <td><span class="d-xl-inline">{{username}}</span></td>
                            </tr>
                            <tr>
                                <th>Email: </th>
                                <td><span class="d-xl-inline">{{email}}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="rightCol">
        <div class="profile comments">
            <h3 class="text-center">Comments</h3>
        </div>
    </div>
</div>