<h1 style="text-align:center">{{title}}</h1>
</br>
<div class="row">
    <div class="column">
        <h2 style="text-align: center">Inventory</h2>
            <table class="table table-bordered table-dark" style="max-width: 900px; margin:auto; text-align: center">
                <thead>
                    <tr>
                        <th>
                            <img src="img/Blossom Alpha Armor.png">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#sellingForm">Sell</button>
                        </th>
                        <th>
                            <img src="img/Xeno Raqs.png">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#sellingForm">Sell</button>
                        </th>
                        <th>
                            <img src="img/Xeno Mabura.png" alt="Item 2">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#sellingForm">Sell</button>
                        </th>
                    </tr>
                </thead>
            </table>
            <br>
        <button style="margin-left: 50%; margin-right: auto" class="btn btn-danger" data-toggle="modal" data-target="#sellingForm">+Add New Item</button>
    </div>

    <div class="column">
        <h2 style="text-align: center">Your Shop</h2>
    </div>
</div>