/* General */
html {
  margin: 0 auto !important;
}

body {
  background-color: black !important;
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 6rem;
}

a {
  color:rgb(192, 192, 192);
}

a:hover{
  color: #59646e;
}

.vl {
  font-size: calc(1.275rem + 0.3vw);
}

.w-95 {
  width: 95%;
}

.w-35 {
  width: 35%;
}

.w-15 {
  width: 15%;
}

.form-control {
  border-radius: 50px !important;
  background-color: black !important;
  border-color: #343a40 !important;
  color: rgb(200, 200, 200) !important;
}

*:focus {
  box-shadow: none !important;
}

.leftCol, .leftCol-1, .leftCol-2 {
  float: left;
}

.leftCol {
  width: 50%;
}

.leftCol-1 {
  width: 75%;
}

.leftCol-2 {
  width: 25%;
}

.rightCol, .rightCol-1, .rightCol-2 {
  float: left;
}

.rightCol {
  width: 50%;
}

.rightCol-1 {
  width: 75%;
}

.rightCol-2 {
  width: 25%;
}
/* End General */

/* Fonts */
.Roboto {
  font-family: 'Roboto', sans-serif;
}
/* End Fonts */

/* Navbar */
nav .navbar-form-search {
  position: relative;
}
 
nav .btn {
  border: 0;
  background: transparent;
  font-size: 1rem;
}

.search-form-container {
  position: absolute;
  width: 300px;
  overflow: hidden;
  background: #212529 !important;
  right: 40px;
  top: 0;
  z-index: 9;
  transition: all .3s ease-in-out;
}

*.hdn {
  width: 0;
}
  
.search-input-group {
  width: 300px;
}
/* End Navbar */

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-section {
  background-color: #ededed;
}

#sticky-footer {
  flex-shrink: none;
}
/* End Footer */

/* Nameplate */
#nameplate {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.nameplate-title {
  font-size: 5.5rem;
}

.nameplate-subtitle {
  margin-bottom: 2rem;
}
/* End Nameplate */

/* Limited Products */
.limited-section {
  padding-bottom: 4rem;
  text-align: center;
}

.limited-section img {
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
/* End Limited Products */

/* Product Details */
.product-details .card
{
  background-color: transparent;
  border: none;
}

#itemQty {
  width: 50px;
  text-align: center;
  background-color: #343a40;
  color: white;
  border: none;
  outline: none;
}

.quantity.buttons_added
{
  display: flex;
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
  padding-bottom: 1rem;
}

.quantity.buttons_added input
{
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}
 
.quantity.buttons_added .rounded-start {
  border-radius: 25px 0px 0px 25px !important;
}

.quantity.buttons_added .rounded-end {
  border-radius: 0px 25px 25px 0px !important;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus
{
  padding: 0.5rem 1rem 0.5rem;
  height: 41px;
  cursor: pointer;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button,
.quantity input[type=number]
{
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
/* End Product Details*/

/* Add Product */
.add-prod-container {
  padding: 3rem 0 5rem 0;
}

.add-prod-card {
  padding: 8rem 4rem 3rem 4rem !important;
  border: none !important;
}

.add-prod-card .col {
  margin-bottom: 1rem;
  display: table-cell;
}
/* End Add Product */

/* Login */
.login-container {
  padding: 5rem 0 5rem 0;
  text-align: center;
}

.login-card {
  padding: 12.5rem 4rem 3rem 4rem !important;
  border: none !important;
}

.card-body {
  background-color: black !important;
}

.login-card .col {
  margin-bottom: 1rem;
  display: table-cell;
}
/* End Login */

/* Register */
.register-container {
  padding: 5rem 0 5rem 0;
  text-align: center;
}

.register-card {
  padding: 9rem 4rem 3rem 4rem !important;
  border: none !important;
}

.register-card .col {
  margin-bottom: 1rem;
  display: table-cell;
}
/* End Register */

/* Contact Us */

.contact-container {
  border-radius: 5px;
  background-color:#555a61;
  padding: 20px;
}

/* Style inputs with type="text", select elements and textareas */
.contact-container input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* End Contact Us */

/* Marketplace */
.mktplace h1 {
  padding-top: 2rem !important;
}

.mktplace h4 {
  color: rgba(255, 255, 255, 0.7);
}

.mktplace hr {
  border-width: medium !important;
  border-color: #343a40;
}

.mktplace .btn-search {
  padding: 0 1rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 38px;
}

.mktplace #searchInput, #searchInput-2 {
  border-radius: 25px 0px 0px 25px !important;
}
/* End Marketplace */

/* Shopping Cart */
#cart img {
  width: 155px;
}

#cart a {
  text-decoration: none;
}

#cart a:hover :not(.btn) {
  color: #59646e;
}

#CartBreakdown hr {
  width: 90%;
}
/* End Shopping Cart */

/* Checkout Screen */
#checkout .material-icons {
  font-size: 1rem;
}

#checkout .form-control {
  border-radius: 0.5rem !important;
}

#checkoutButtons {
  padding-right: 2rem;
}
/* End Checkout Screen */

/* Edit Product */
#editProduct .form-control {
  border-radius: 0.5rem !important;
}
/* End Edit Product */

/* Profile */
.prfile h1 {
  padding-top: 2rem !important;
}

.prof-card {
  max-width: 500px;
  margin: auto;
  background-color:  #555a61;
  border-radius: 25px;
}

#commentBox {
  background-color: #555a61;
  color: #ececec;
}
/* End Profile */

/* Customer Support */
.contact-us {
  padding: 4rem 0 0 0;
  text-align: center;
}
/* End Customer Support */

/* Buttons */
.btn {
  border-radius: 50px !important;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
  background-color: #343a40;
  border-color: #343a40;
}
/* End Buttons */